.profile__edit-button {
    max-width: 24px;
    max-height: 24px;
    border: 1px solid #FFF;
    box-sizing: border-box;
    background-color: #000;
    margin: 77px 0 0 18px;
    padding: 0;
    cursor: pointer;
}

@media screen and (max-width: 600px) {
    .profile__edit-button{
        max-width: 18px;
        max-height: 18px;
        margin: 26.5px 0 0 10px;
    }
}

.profile__edit-button:hover {
    opacity: 0.8;
}