.photo-grid__like-btn_active {
    cursor: pointer;
    background-image: url(../../../../images/blackheart.svg);
    background-repeat: no-repeat;
    border: none;
    background-color: transparent;
    pointer-events: all;
    opacity: 1;
    transition-delay: 0s;
}