.modal__input-text {
    width: 358px;
    height: 27.26px;
    font-family: "Inter", Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: #000;
    margin: 5px 36px 13px 36px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;

}

@media screen and (max-width: 600px) {
    .modal__input-text {
        width: 238px;
        height: 26px;
    }
}