.modal__preview-image {
    max-width: 75vh;
    max-height: 75vw;
    object-fit: cover;
}

@media screen and (max-width: 600px) {
    .modal__preview-image {
        max-width: 240px;
        max-height: 299px;
    }
}