.modal__save-btn {
    width: 358px;
    height: 50px;
    border-radius: 2px;
    background-color: #000;
    color: #fff;
    font-family: "Inter", Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    margin: 19px 36px 36px 36px;
    border: none;
    cursor: pointer;
}

@media screen and (max-width: 600px) {
    .modal__save-btn {
        width: 238px;
        height: 46px;
    }
}