.photo-grid__trash-btn {
    width: 18px;
    height: 19.3px;
    background-color: transparent;
    position: absolute;
    padding: none;
    cursor: pointer;
    padding: 0;
    border: none;
    margin: 18px 15px 0 249px;
}