.modal__close-btn {
    width: 40.7px;
    height: 40.7px;
    cursor: pointer;
    border: none;
    background: none;
    padding: 0;
    position: absolute;
    top: -34px;
    right: -36px;
}

.modal__close-btn:hover {
    opacity: 0.6;
}

@media screen and (max-width: 600px) {
    .modal__close-btn {
        width: 26px;
        height: 26px;
        top: -40px;
        right: -5px;
    }
}