.popup__button_disabled {
    opacity: 0.2;
    border: 1px solid #000;
    border-radius: 2px;
    background: #FFF;
    color: #000;
    cursor: default;
}

.popup__button_disabled:hover {
    background: #FFF;
}